@font-face {
    font-family: 'mini-sweeper';
    font-style:  normal;
    font-weight: 500;
    font-display: swap;
    src:  url("../src/vendor/fonts/mine-sweeper.woff2") format("woff2"),
          url("../src/vendor/fonts/mine-sweeper.woff") format("woff");
}

.App {  
  min-width: 560px;
  min-height: 100vh;
  margin: 0 auto;
  color: #fff;
  font-family: "mini-sweeper", Arial, sans-serif;
  font-weight: 400;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}